body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.techBooks {
		.techBook {
			background-color: #444;
			padding: 20px;
			margin-bottom: 10px;
			border-radius: 5px;
			display: flex;

			img {
				height: 170px;
			}

			.info {
				margin-left: 10px;

				.title {
					font-size: 1.3rem;
					color: rgb(233, 233, 123);
				}
				.description {
					font-size: 1.1rem;
					font-style: italic;
				}
			}
		}
	}
}